<br>
<div class="row">
    <div class="container text-center">
        <div class="card-group">
            <div class="card  shadow   animated fadeIn" style="margin:2px">
                <a class="stretched-link" [routerLink]="['/orden-compra-adjuntar']">
                    <img src="./assets/img/modulos/logistica.png" style="  width: 95%;" class="card-img-top  mt-2" alt="...">
                </a>
                <div class="card-body">
                    <div class="">
                        <h5 style="color:black !important"> <a [routerLink]="['/orden-compra-adjuntar' ]">  LOGISTICA </a> </h5>
                    </div>
                </div>
            </div>
            <div class="card shadow  bg-dark   animated fadeIn" style="margin:2px">
                <a class="stretched-link" [routerLink]="['/orden-compra-adjuntar']">
                    <img src="./assets/img/modulos/controlObras.png" style="  width: 95%;" class="card-img-top  mt-2" alt="...">
                </a>
                <div class="card-body">
                    <div class="">
                        <h5 style="color:white"> CONTROL DE OBRAS </h5>
                    </div>
                </div>
            </div>
            <div class="card shadow  animated fadeIn" style="margin:2px">
                <a class="stretched-link" [routerLink]="['/orden-compra-adjuntar']">
                    <img src="./assets/img/modulos/inpeccionSeguridad.png" style="  width: 95%;" class="card-img-top  mt-2" alt="...">
                </a>
                <div class="card-body">
                    <div class="">
                        <!-- <h5> <a [routerLink]="['/anuncios',categoria.id_Categoria]">{{categoria.nombre_Categoria}}  </a> </h5> -->
                        <h5 style="color:black"> INSPECCIONES DE SEGURIDAD </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>