<div class="card border-left-warning  shadow  mt-2 ">
    <div class="card-header">
        <h5 class="headerTitle"> SOLICITUD PEDIDO COMPRA </h5>
    </div>
    <div class="card-body">

        <form [formGroup]="formParamsFiltro" style="margin-top: -10px !important;">

            <div class="form-row">
                <div class="col-md-3">
                    <label>Local</label>
                    <select class="form-control comboBox" formControlName="idLocal">
                                <option value="0"> [ --TODOS-- ]</option>
                                <option [value]="loc.Pub_Sucu_Codigo" *ngFor="let loc of locales">{{loc.Pub_Sucu_Nombre}}</option> 
                            </select>
                </div>
                <div class="col-md-3">
                    <label>Delegacion</label>
                    <select class="form-control comboBox" formControlName="idDelegacion">
                                <option value="0"> [ --TODOS-- ]</option>
                                <option [value]="del.Ges_Dele_codigo" *ngFor="let del of delegaciones">{{del.Ges_Dele_Descripcion}}</option> 
                            </select>
                </div>
                <div class="col-md-3">
                    <label>Centro Costo</label>
                    <select class="form-control comboBox" formControlName="idCentroCosto">
                                <option value="0"> [ --TODOS-- ]</option>
                                <option [value]="centro.Ges_OrdT_Codigo" *ngFor="let centro of centroCostos">{{centro.Ges_OrdT_Descripcion}}</option> 
                            </select>
                </div>
                <div class="col-md-3">
                    <label class="control-label"> Rango Fecha </label>
                    <div class="input-group">
                        <input class="form-control mx-sm-2" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_ini" [bsConfig]="datepiekerConfig">
                        <span class="input-group-addon">-</span>
                        <input class="form-control mx-sm-2" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fecha_fin" [bsConfig]="datepiekerConfig">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-2">
                    <label class="control-label"> Nro Pedido</label>
                    <input type="text" class="form-control" formControlName="nroPedido">
                </div>
                <div class="col-md-2">
                    <label class="control-label"> Nro Obra</label>
                    <input type="text" class="form-control" formControlName="nroObra">
                </div>
                <div class="col-md-3">
                    <label class="control-label"> Nombre Solicitante</label>
                    <input type="text" class="form-control" formControlName="nombreSolicitante">
                </div>
                <div class="col-md-3">
                    <label> Estado</label>
                    <select class="form-control comboBox" formControlName="idEstado">
                                <option [value]="est.Pub_Esta_Codigo" *ngFor="let est of estados">{{est.Pub_Esta_Nombre}}</option> 
                            </select>
                </div>
                <div class="col-md-2">
                    <div class="mt-4 text-center">
                        <button class="btn  btn-sm  btn-primary" (click)="mostrarInformacion()" title="Mostar la informacion">
                              <i class="fas fa-search"> Mostrar</i> 
                             </button>
                        <button class="btn btn-warning ml-2 " (click)="nuevo()" style="font-size: 13px;">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="tableFixHead mt-2" style="height: 300px;">
            <table class="table  table-bordered table-hover table-sm ">
                <thead class="theadTable thead-dark">
                    <tr style="height: 40px !important;" class="text-center">
                        <th scope="col">#</th>
                        <th> Estado </th>
                        <th> Nro Pedido </th>
                        <th> Fecha </th>
                        <th> F/H Envio Pedido </th>
                        <th> Nro Obra </th>
                        <th> Centro de Costo </th>
                        <th> Solicitante </th>
                        <th> Aprobado por Jefe </th>
                        <th> Fecha Aprobacion </th>
                        <th> Aprobado por Gerente </th>
                        <th> Fecha Aprobacion </th>
                        <th> Usuario Rechazo </th>
                        <th> Fecha Rechazo </th>
                        <th> Aprobado por Logistica </th>
                        <th> Fecha Aprobacion </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitudPedidoCab  ; index as j">
                        <td scope="row"> {{j + 1}} </td>

                        <td>{{item.descripcionEstado}}</td>
                        <td>{{item.nroPedido}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.fechaHora_envioPedido}}</td>
                        <td>{{item.nroObra}}</td>
                        <td>{{item.centroCosto}}</td>

                        <td>{{item.solicitante}}</td>
                        <td>{{item.aprobadoJefe}}</td>
                        <td>{{item.fechaAprobacionJefe}}</td>
                        <td>{{item.aprobadoGerente}}</td>
                        <td>{{item.fechaAprobacionGerente}}</td>

                        <td>{{item.usuarioRechazo}}</td>
                        <td>{{item.fechaRechazo}}</td>
                        <td>{{item.aprobadoLogistica}}</td>
                        <td>{{item.fechaAprobacionLogistica}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<div class="modal fade " id="modal_registro" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel  " aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="p-3 card ">
                <div class="d-flex justify-content-between flotante">
                    <div class=" bd-highlight">
                        <i class="fas fa-arrow-circle-left  fa-2x puntero" title="Retornar" (click)="cerrarModal_registro()">  </i>
                    </div>
                    <div class=" bd-highlight">
                        <h5 class="headerTitleModal"> REGISTRO DE LIQUIDACION CAJA CHICA </h5>
                    </div>
                    <div class=" bd-highlight">
                        <i class="far fa-times-circle fa-2x puntero" title="Retornar" (click)="cerrarModal_registro()">  </i>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <!-- <div class="row">
                    <div class="col-md-12">
                        <fieldset class="shadow">
                            <legend>DATOS DE LIQUIDACION </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <form [formGroup]="formParams">
                                        <div class="row" style="margin-top: -15px;">
                                            <div class="col-md-4">
                                                <label> Nro Evaluacion </label>
                                                <input type="text" class="form-control disabledForm" formControlName='id_LiquidacionCaja_Cab'>
                                            </div>
                                            <div class="col-md-4">
                                                <label> Centro de Costo </label>
                                                <select class="form-control comboBox" formControlName="Ges_Ordt_Codigo">
                                                    <option value="0"> [ -- SELECCIONE -- ]</option>
 
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label"> Periodo Evaluacion </label>
                                                <div class="input-group">
                                                    <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaInicial" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                                    <span class="input-group-addon">-</span>
                                                    <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaFinal" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top: 10px;margin-bottom: -20px;">

                        <div class="d-flex justify-content-center">
                            <div class="p-2 bd-highlight">
                                <button class="btn btn-sm btn-success " title="Mostrar la informacion"> <i class="fas fa-save"> </i>  Registrar Liquidacion </button>
                            </div>

                            <div class="p-2 bd-highlight">
                                <button class="btn btn-sm btn-info ml-2" title="Enviar a aprobar">  <i class="fas fa-share-square"> </i> Enviar Aprobar </button>
                            </div>

                            <div class="p-2 bd-highlight">
                                <button class="btn btn-sm btn-danger ml-2 ">  <i class="fas fa-compress-arrows-alt" > </i>  Registrar Comprobante </button>
                            </div>

                        </div>

                    </div>
                </div>
                <br>

                <div class="row" style="margin-top: -10px;">
                    <div class="col-md-12">
                        <fieldset class="shadow">
                            <legend> REGISTRO COMPROBANTES </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <div class="d-flex justify-content-start" style="margin-top: -20px; margin-bottom: -10px;">
                                        <div class="p-2 bd-highlight">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [id]="100" value="1" name="comprobante" checked class="custom-control-input" (change)="changeComprobante($event.target.value)">
                                                <label class="custom-control-label" [for]="100">INGRESO MANUAL</label>
                                            </div>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" [id]="101" value="2" name="comprobante" class="custom-control-input" (change)="changeComprobante($event.target.value)">
                                                <label class="custom-control-label" [for]="101">INGRESO POR IMPORTACION</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br>
                </div>

                <div class="row mt-2" *ngIf="flagComprobante == 2">
                    <div class="col-md-12">
                        <fieldset class="shadow">
                            <legend> IMPORTAR COMPROBANTES </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">


                                    <div class="row">
                                        <div class="col-md-6 mt-2">

                                            <form [formGroup]="formParamsFile">
                                                <div class="botonFile">
                                                    <input type="file" class="form-control-file btn" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" formControlName="file" />
                                                </div>
                                            </form>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="mt-3 text-center">
                                                <button class="btn btn-sm btn-primary " id="btnRegistrar" title="Registrar Documentos"> <i class="fas fa-save"> </i>  Guardar </button>
                                                <button class="btn btn-sm btn-warning ml-2">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                                                <button class="btn btn-sm btn-primary ml-2">  <i class="fas fa-file-download"> Formato</i> </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div *ngFor="let fil of filesExcel; let i=index">
                                                <div class="alert alert-danger text-center" *ngIf="fil.status === 'error'">
                                                    <h5>Sistemas</h5>
                                                    <hr>
                                                    <p><small>{{fil.message}}</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br>
                </div>

                <div class="row mt-2" *ngIf="flagComprobante == 1">
                    <div class="col-md-12">
                        <fieldset class="shadow">
                            <legend> REGISTRO DE COMPROBANTES </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <form [formGroup]="formParamsManual">
                                        <div class="row" style="margin-top: -15px;">
                                            <div class="col-md-4">
                                                <label> Interno </label>
                                                <input type="text" class="form-control disabledForm" formControlName='id_LiquidacionCaja_Det'>
                                            </div>
                                            <div class="col-md-4">
                                                <label> Tipo Documento </label>

                                                <select class="form-control comboBox" formControlName="Pub_TiDo_Codigo">
                                                    <option value="0"> [ -- SELECCIONE -- ]</option>
                                                    <option [value]="doc.id_TipoDocFile" *ngFor="let doc of estados">{{doc.nombreFile}}</option> 
                                                </select>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Serie </label>
                                                <input type="text" class="form-control  " formControlName='nroSerie_Doc'>
                                            </div>
                                            <div class="col-md-4">
                                                <label> Numero </label>
                                                <input type="text" class="form-control  " formControlName='numero_Doc'>
                                            </div>

                                            <div class="col-md-4">
                                                <label> Fecha Emision </label>
                                                <input class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="fechaEmision_Doc" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'  }">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label> Ruc </label>
                                                <input type="text" class="form-control " formControlName='nro_RUC'>

                                            </div>
                                            <div class="col-md-8">
                                                <label> Proveedor </label>
                                                <input type="text" class="form-control disabledForm" formControlName='razonsocial'>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label> Concepto </label>
                                                <input type="text" class="form-control " formControlName='concepto_Doc'>
                                            </div>
                                        </div>



                                    </form>

                                    <div class="row">
                                        <div class="col-md-12 text-center mt-2">
                                            <button class="btn btn-sm btn-success">  <i class="fas fa-save"> Grabar</i> </button>
                                            <button class="btn btn-sm btn-warning ml-2">  <i class="fa fa-plus-circle"> Nuevo</i> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br>
                </div>

                <div class="row mt-2" id="formDetalle">
                    <div class="col-md-12">
                        <fieldset class="shadow">
                            <legend> DETALLE DE LIQUIDACION </legend>
                            <div class="panel panel-default ">
                                <div class="panel-body">

                                    <label for=""> * Una vez que termine de ingresar el valor presionar la techa enter para Grabar</label>

                                    <div class="search-results tableFixHead">
                                        <table class="table  table-bordered table-hover table-sm ">
                                            <thead class="theadTable thead-dark">
                                                <tr style="height: 40px !important;">
                                                    <th scope="col">ITEM</th>
                                                    <th> TIPO DOC </th>
                                                    <th> SERIE </th>
                                                    <th> NUMERO </th>
                                                    <th> FECHA </th>

                                                    <th> RAZON SOCIAL </th>
                                                    <th> CONCEPTO </th>
                                                    <th> NRO AFECTO </th>
                                                    <th> IGV </th>

                                                    <th> PERCEPCIONES </th>
                                                    <th> OTROS CARGOS </th>
                                                    <th> TOTAL </th>
                                                    <th colspan="2"> ACCIONES </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of estados ; index as j">
                                                    <td scope="row"> {{j + 1}} </td>
                                                    <td> {{item.tipoDocumento}} </td>
                                                    <td>{{item.nroSerie_Doc}}</td>
                                                    <td>{{item.numero_Doc}}</td>
                                                    <td>{{item.fechaEmision_Doc}}</td>

                                                    <td>{{item.razonSocial}} </td>
                                                    <td>{{item.concepto_Doc}}</td>
                                                    <td>{{item.subTotal_Doc}}</td>
                                                    <td>{{item.IgvTotal_Doc}}</td>

                                                    <td>{{item.percepciones_Doc}}</td>
                                                    <td>{{item.otrosG_Doc}}</td>
                                                    <td>{{item.total_Doc}}</td>
                                                    <td class="text-right">
                                                        <span class="badge badge-primary puntero" style="padding: 5px;">  Editar </span>
                                                    </td>
                                                    <td class="text-right">
                                                        <span class="badge badge-danger puntero" style="padding: 5px;">  Eliminar </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br>
                </div>
  -->
            </div>

        </div>
    </div>
</div>